.wrapper
  width: 100%
  height: 100%
  display: flex;
  justify-content: center
  
  
.mcq-container
  width: 550px
  height: 600px
  box-shadow: 0 0 2px rgba(0,0,0,0.5)

.mcq-header
.mcq-qa
.mcq-options
.mcq-next
.mcq-submit
.mcq-results
.mcq-prog-bar
