.wrapper
  height: 100%
  width: 100%
  display: flex
  justify-content: center
  padding-top: 100px

  
.mcq-container
  width: 800px
  height: 600px
  box-shadow: 0 0 2px rgba(0,0,0,0.5)

.mcq-header
  width: 100%
  height: 50px
  border-bottom: 1px solid #ccc;
.mcq-qa
.mcq-options
.mcq-next
.mcq-submit
.mcq-results
.mcq-prog-bar
