.wrapper
  height: 100%
  width: 100%
  display: flex
  justify-content: center
  padding-top: 100px 
  .mcq-container
    width: 800px
    height: 600px
    box-shadow: 0 0 2px rgba(0,0,0,0.5)
    .mcq-header
      width: 100%
      height: 40px
      border-bottom: 1px solid #ccc;
    .mcq-qa
      width: 100%
      height: calc(600px - 140px)
      .mcq-q
        width: 100%
        padding: 100px 50px 10px 50px
        box-sizing: border-box
      .mcq-options
        padding: 10px 0 5px 60px
      .mcq-controls
        width: 100%
        height: 60px
        .mcq-buttons-cont
          width: 40%
          height: 100%
          .mcq-prog-bar-cont
            width: 100%
            height: 15%
            position: relative
            &::after
              content: ''
              width: 100%
              height: 100%
              border-radius: 3px
              background-color: #cccccc
              position: absolute
            .mcq-prog-bar
              width: 10%
              height: 100%
              border-radius: 3px
              background-color: green
              position: absolute
              z-index: 999
          .mcq-buttons-nav
            display: flex
            width: 100%
            height: 85%
            background: pink
            .mcq-remaining
              width: 100%
              height: 35px
      
.mcq-btn
  width: 100px
  height: 30px
  border-radius: 3px
  background-color: #3d9be8
  color: #ffffff
  font-size: 14px
  font-weight: 600
.mcq-btn-sm
  width: 50px
.mcq-next
.mcq-submit
  margin-left: 20px
.mcq-results
  margin-left: 20px





.center-align
  display: flex
  justify-content: center
  align-items: center