.wrapper
  height: 100%
  width: 100%
  display: flex
  justify-content: center
  padding-top: 100px

  
.mcq-container
  width: 800px
  height: 600px
  box-shadow: 0 0 2px rgba(0,0,0,0.5)

.mcq-header
  width: 100%
  height: 40px
  border-bottom: 1px solid #ccc;

.mcq-qa
  width: 100%
  height: calc(600px - 140px)
  overflow: hidden
.mcq-q
  width: 100%
  padding: 100px 50px 10px 50px
.mcq-options
  padding: 10px 0 5px 60px

.mcq-controls
  width: 100%
  height: 100px
  border-top: 1px solid #ccc

.mcq-next
.mcq-submit
.mcq-results
.mcq-prog-bar

.center-align
  display: flex
  justify-content: center
  align-items: center